@font-face{
    font-family: BBkh;
    src: url("fonts/khmerOSbattambang.ttf");
}
@font-face{
font-family: BBkhbig;
src: url("fonts/khmerOSmuol.ttf")
}
html,body{
margin: 0;
padding: 0;
font-size: 13px;
}
.logo{
padding: 6px 0;          
}
.sub-banner{
text-align: center;
color: #ef2f04c7;
font-size: 22px;
font-weight: bold;
margin-top: 22px;
letter-spacing: 2px;
}
.pd-top{
font-family: BBkhbig;
font-size: 32px;
color: #0069d9;
text-align: center;
margin-top: 25px;
letter-spacing: 3px;
}
.menu{
width: 100%;
background: #037;
}
.dropdown{
    border: 0;
    padding: 0;
    background: #053f75c7;
}
.bg-dark {
    background-color: #004789 !important;
    padding: 3px;
}
.title{
color: #0c97ad;
font-weight:500;
text-transform: uppercase; 
}
.card-border-shadow{
border: none;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0,0,0,.10)
}
.h-100{
height: 100%!important;
margin-bottom: .5rem!important;
}
.portfolio-item{
padding-bottom: 30px;
}
.btn-sm-c {
padding: 3px 12px;
border-radius: 0;
}
.col-md-c {
padding-left:2px;
padding-right: 2px;
}
.my-title{
margin-bottom: 1rem!important;
margin-top: 1rem!important;
}
.text-center{
text-align: center!important;
}
h4{
font-size: 1.5rem;  
}
body, h1, h2, h3, h4, h5, h6, label, span, p, div, th, td{
font-family: BBkh;
}
h6{
font-size:1rem!important;
}

.read-more-doc{
font-size: 13px;
color: black;
text-transform: uppercase;
font-weight: 600;
float: right;
margin-top: 18px;
}
.hr-border-shadow{
border-bottom: 1px solid #000;
}
.foot{
padding:20px;
font-size:13px;
}
.bg-footer{
background: #263238;
color: #fff;
}
img{
vertical-align: middle;
border-style: none;
}
.btn-info{
color: #fff;
background-color: #28a745;
border-color: #28a745;
padding: 3px 12px;
border-radius: 0;
text-decoration: none;
text-align: center;
}
.btn-group-sm>.btn, .btn-sm {
padding: .25rem .5rem;
font-size: .875rem;
line-height: 1.5;
border-radius: .2rem;
}
.collapse.show {
display: block;
}
@media screen and (min-width:768px){
.col-md-3{
-webkit-box-flex: 0;
-ms-flex: 0 0 25%;
flex: 0 0 25%;
max-width: 25%;
}
}
@media screen and (max-width:1100px)
{

}